[submodule "vendor/openzeppelin-solidity"]
	path = vendor/openzeppelin-solidity
	url = https://github.com/TangHHH/openzeppelin-solidity.git
[submodule "vendor/web3.js"]
	path = vendor/web3.js
	url = https://github.com/TangHHH/web3.js.git
